/*deskto*/


@media screen and (min-width:768px) {
   
   

    .col-1{width:8.33%;}
    .col-2{width:16.66%;}
    .col-3{width:25%;}
    .col-4{width:33.33%;}
    .col-5{width:41.66%;}
    .col-6{width:50%;}
    .col-7{width:58.33%;}
    .col-8{width:66.66%;}
    .col-9{width:75%;}
    .col-10{width:83.33%;}
    .col-11{width:91.66%;}
    .col-12{width:100%;}


    .nav-logo{
        text-align: left;
    }
    
    .nav-heading h1{
        text-align: right;
    }

     .nav-menu{
        flex-direction: row;
        justify-content: flex-end;
     }
     .nav-menu a{
        padding: 5px 10px;
        background-color: transparent;
     }

     /* navbar ends */
    

     /* profile starts */



     .profile .top-std-icon{
        position: absolute;
        height: 150px;
        width: 100px;
        right: 100px;
        top: 30px;
        transition: width 3s, transform 2s;
    }
    
    .profile .top-std-icon:hover{
        transform: rotate(360deg);
        height: 300px;
        width:200px;

    }


    .profile-desc p{
        color: rgb(95, 95, 97);
        text-align: center;
        width: 50%;
        margin-bottom:10px;
    }

    
    .profile .bottom-std-icon{
        position: absolute;
        height: 150px;
        width: 200px;
        left: 150px;
        bottom: 20px;
        transition: width 3s, transform 2s;
    }
    
    .profile .bottom-std-icon:hover{
        transform: rotate(360deg);
        height: 300px;
        width:400px;
        left: 100px;
        bottom:20px;
    
    }

    /* profile ends */


     /* About me start  */
     .about-me-image{
        margin-top: 100px;

     }

     .about-me-image img{
        
        height: 270ox;
        width: 250px;
     }

     .about-me-desc p{
        text-align: left;

     }
     /* About me end */

/* profesional experience start */
     .profesional-exp{
        padding: 1% 7%;
     }
/* profesional experience end */





 /* achievement contact start */ 

.achievement{
    padding-right: 50px;
}

.contact-links{
    position: relative;
}


.media-button{
   

position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
margin-top: 200px;

}




 /* achievement contact end */


 /* footer starts here */
 .footer-menu{
    margin-top: 12px;
 }

 .footer-menu a{
    display: inline;
    margin: 10px;

 }

 /* footer ends here */

}







 